.main__nav {
  background-color: $basic-white;
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0px;
    width: 30px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}


.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
}

.main-nav__item {
  width: 100%;
}

.main-nav__link {
  font-family: "oswald", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  font-weight: 500;
  text-decoration: none;
  display: block;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    position: relative;
  }

  .main-nav__item {
    width: 100%;
    text-align: center;
    border-bottom: solid 2px $nav-border;

    &:first-child {
      border-top: solid 2px $nav-border;
    }

    &:last-child {
      border-top: solid 1px $nav-border;
    }

  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    padding: 22px 20px 24px 20px;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
      color: $button-hover;
    }

    &:active {
      color: $radio-input-disabled;
    }
  }
}
